<h1>
  Current Body Class: {{ bodyClass }}
</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti voluptates explicabo obcaecati. Provident qui dignissimos beatae nobis non ipsum a harum nihil iste nulla rem labore, dolor dolore perferendis incidunt maxime unde dolores, nostrum laboriosam quas, accusantium dolorum. Qui voluptatibus accusamus perspiciatis enim dolores! Corporis molestiae ea nobis ullam quidem!
</p>

<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">

<button (click)="changeBodyClass()">changeBodyClass</button>
