/* Add application styles & imports to this file! */

body {
  height: 400px;
  width: 500px;
}

body.dark {
  background: black;
  color: white;
}

body.light {
  background: white;
  color: black;
}
