/* Add application styles & imports to this file! */

body {
  height: 400px;
  width: 500px;
}

body.Dark {
  background: black;
  color: white;
}

body.Light {
  background: white;
  color: black;
}
